* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-family: 'Calibri', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.wrapper {
    width: 420px;
    background-color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 40px;
}

.wrapper .inputBox { 
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputBox input { 
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 40px;
    font-size: medium;
    font-family: 'Kadwa', sans-serif;
    padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder { 
    color: black;
}

.wrapper .rememberForgot { 
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.rememberForgot label input { 
    margin-right: 4px;
}

.rememberForgot a { 
    text-decoration: none;
    color: black;
}

.rememberForgot a:hover { 
    text-decoration: underline;
}

.wrapper button {
    width: 100%;
    border: none;
    outline: none;
    border: 2px solid;
    border-radius: 40px;
    background-color: #ca2b27;
    color: white;
    font-size: medium;
    font-family: 'Kadwa', sans-serif;
    cursor: pointer;
    font-weight: 700;
    height: 50px;
}

.wrapper .registerLink { 
    text-align: center;
    font-size: 15px;
    margin: 20px 0 15px;
}

.registerLink a { 
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.registerLink a:hover { 
    text-decoration: underline;
}

.error {
    color: red;
    font-size: small;
    padding-left: 10px;
}
