header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
    width: 1980px;
  }
  header.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
    width: 1980px;
  }

header.masthead .meta{
    text-align: center;
}

header.masthead .siteHeading h1,
header.masthead .siteHeading .h1{
  font-size: 3.5rem;
  color: white;
  font-family: Kadwa;
  font-weight: bold;
}

header.masthead .siteHeading .meta {
    font-size: 1.5rem;
    color: white;
    font-family: Kadwa;
}

.sectionHeading {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 3.75rem;
}

p {
    margin: 2rem 0;
    font-size: 20px;
    font-family: 'Calibri', sans-serif;
}