* {
    padding: 0;
    margin: 0;
  }
  
  /* Căn chỉnh hình ảnh trong navbar-brand */
  .LogoShop img {
      max-height: 80px; /* Đặt chiều cao tối đa cho hình ảnh */
      height: auto; /* Đảm bảo tỷ lệ khung hình không bị thay đổi */
      width: auto; /* Đảm bảo tỷ lệ khung hình không bị thay đổi */
      display: block; /* Loại bỏ khoảng trắng phía dưới hình ảnh */
    }
    
    /* Điều chỉnh khi thanh điều hướng cố định */
    #mainNav.is-fixed .LogoShop img {
      max-height: 40px; /* Chiều cao tối đa khi thanh điều hướng cố định */
    }
    
    /* Đảm bảo hình ảnh không bị méo */
    .LogoShop {
      display: flex; /* Sử dụng flexbox để căn giữa nội dung */
      align-items: center; /* Căn giữa theo chiều dọc */
    }
  
    .footer {
      color: white;
      padding-top: 20px;
      padding-bottom: 10px;
      margin: 0;
    }
    
    .footer h5 {
      font-size: 18px;
      margin-bottom: 15px;
      font-family: 'Kadwa', sans-serif;
    }
    
    .footer ul {
      padding-left: 0;
      list-style: none;
    }
    
    .footer ul li {
      margin-bottom: 10px;
    }
    
    .footer ul li a {
      color: white;
      text-decoration: none;
    }
    
    .footer ul li a:hover {
      text-decoration: underline;
    }
    
    .footer .row {
      margin-bottom: -10px;
    }
    
    .footer .row hr {
      border-top: 1px solid #6c757d;
    }
    
    .footer .row p {
      margin-bottom: 5px;
    }
    
    .footer p {
      font-family: 'Calibri', sans-serif; /* Sử dụng font Calibri */
      margin: 1rem 0;
    }

    .blackBg {
        background-color: black;
      }
      
      .redBg {
        background-color: rgb(156, 2, 2);
      }
      
      .logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      
      .textWhite {
        color: white;
      }